@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50 dark:text-white dark:bg-gray-900 transition-colors duration-200;
  }
}
